.tile-container-men {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -60px 150px 150px 150px;
}
  
    .tile-men {
    justify-content: flex-end;
    width: 30%;
    height: 220px;
    margin-bottom: 20px;
    position: relative;
    text-decoration-line: none;
    text-decoration-color: black;
    }

    .tile-content {
    position: relative;
    height: 100%;
    }
    .tile-men:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
      }
    .tile-content p {
    /* position: absolute; */
    bottom: 0;
    margin: 0;
    pointer-events: none;
    margin-top: 200px;
    }
      
  p.menBeg {
    margin: 0;
    pointer-events: none;
    margin-top: 200px;
    text-decoration-color: black;
    text-decoration-line: none;
  }
  .tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .tile:hover::before {
    opacity: 1;
  }

  h1.menBeg {
    margin-top: -100px;
    padding-bottom: 60px;
  }
  
  .tile::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .legs {
    background-image: url("./images/legs.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom: 100px;
  }
  .chest {
    background-image: url("./images/chest.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom: 100px;
  }
  .backHand {
    background-image: url("./images/backHand.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom: 100px;
  }
  .back {
    background-image: url("./images/back.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
  }
  .shoulders {
    background-image: url("./images/shoulders.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
  }
  .frontHand {
    background-image: url("./images/frontHand.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
  }
  